@using Resources;
@model Bloggy.Models.AddArticleViewModel

@{
    ViewBag.Title = @Resources.StringResource.AddArticle;
}

@{
    var listItems = Model.LangList.Any() ?
        Model.LangList.Select(lang => new SelectListItem { Text = lang.name, Value = lang.lang}).ToList()
        : new List<SelectListItem> { new SelectListItem { Text = @Resources.StringResource.NoLanguage, Value = null } };
}

<h2>@Resources.StringResource.AddArticle</h2>

@using (Html.BeginForm("AddArticle", "Post", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Article</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.Article.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Article.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Article.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Article.lang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Article.lang, listItems, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Article.lang, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div name="doc" id="doc">
                @Html.HiddenFor(model => model.Article.banner)
                <div class="labelstyle">
                    <label>Banner for your article</label>
                </div>
                <div id="files" class="col-md-10">
                    <input type="file" id="file"
                           name="file" style="float: left;" class="btn btn-default" />
                    <br />
                    <span id="spnFile" style="float: left; color: #FF0000"></span>
                    @Html.ValidationMessage("File")
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Article.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Article.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Article.description, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @Html.HiddenFor(model => model.Article.post_id, new { htmlAttributes = new { @class = "form-control" } })
 
        @Html.HiddenFor(model => model.Article.user_id, new { htmlAttributes = new { @class = "form-control" } })
        
        @Html.HiddenFor(model => model.Article.validated, new { htmlAttributes = new { @class = "form-control" } })
        
        @Html.HiddenFor(model => model.Article.date, new { htmlAttributes = new { @class = "form-control" } })

        @Html.HiddenFor(model => model.Article.views, new { htmlAttributes = new { @class = "form-control" } })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Resources.StringResource.Create class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@Resources.StringResource.BackToList, "Index")
</div>
