@using Resources;
@model Bloggy.Models.Article

@{
    ViewBag.Title = @Resources.StringResource.Delete + ' ' + @Resources.StringResource.Article;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h3>@Resources.StringResource.DeletionCertain</h3>
    <div>
        <h4>@Resources.StringResource.Article</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.lang)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.lang)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.banner)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.banner)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm("DeleteArticle", "Post", FormMethod.Post, Model.id)) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value=@Resources.StringResource.Delete class="btn btn-default" /> |
                @Html.ActionLink(@Resources.StringResource.BackToList, "Index")
            </div>
        }
    </div>
</body>
</html>
